@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.up-button {
  @apply px-4 h-12 rounded-md transition font-semibold;
}

.up-button:disabled {
  @apply opacity-25;
  cursor: not-allowed;
}

.up-button.primary, .up-primary {
  background-color: #0026FF;
  @apply text-white;
}